<ng-container *ngIf="template === 'default'">
  <header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']" style="justify-content: right;padding-left: 15px;">
      <img class="navbar-brand-full" src="/assets/img/logo-mapbiomas-sm.png" height="45" alt="Mapbiomas Alerts">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item d-md-down-none">
        <!-- <app-select-language></app-select-language> -->
      </li>
      <li class="nav-item dropdown d-md-down-none">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="icon-people font-xl"></i>
          <span class="badge badge-pill badge-info">{{usersOnline.length}}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
          <div class="dropdown-header text-center">
            <strong>Users online: {{usersOnline.length}}</strong>
          </div>
          <div data-simplebar style="max-height:400px;">
            <ng-container *ngFor="let useronline of usersOnline">
              <div class="dropdown-item">
                <div class="message">
                  <div class="mr-3 float-left">
                    <div class="avatar">
                      <img class="img-avatar" [src]="useronline.photo" [alt]="useronline.email">
                      <span class="avatar-status badge-success"></span>
                    </div>
                  </div>
                  <div class="text-truncate font-weight-bold">
                    {{useronline.name}}</div>
                  <div class="small text-muted text-truncate">{{useronline.group.name}}</div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <img class="img-avatar" [src]="user.photo" [alt]="user.name">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="javascript:;" (click)="logout()">
            <i class="fa fa-lock"></i> Logout
          </a>
        </div>
      </li>
    </ul>
  </header>
  <div class="app-body" fxFlex>
    <app-menu-main></app-menu-main>
    <main class="main" fxFlex>
      <router-outlet></router-outlet>
    </main>
  </div>
  <!-- <footer class="app-footer">
  </footer> -->
</ng-container>

<ng-container *ngIf="template === 'login'">
  <router-outlet></router-outlet>
</ng-container>

<ng-container *ngIf="template === 'loading'">
  Loading
</ng-container>