<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/" routerLinkActive="active">Alerts</a>
  </li>
  <li class="breadcrumb-item active">Auditing</li>
</ol>
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="card-title mb-0">Alert Auditing
            </h4>
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <form #alertFilterForm="ngForm">
              <div class="form-row">
                <div class="form-group col-md-2">
                  <ng-select [items]="userTeams" [clearable]="false" bindLabel="name" [(ngModel)]="alertsFilter.team"
                    name="alertFilterTeam" id="alertFilterTeam" (change)="onAlertFilterTeamChange($event)"
                    placeholder="Select a Team">
                    <ng-template ng-label-tmp let-item="item">
                      <b>Team:</b> {{item.name}}
                    </ng-template>
                  </ng-select>
                </div>
                <div class="form-group col-md-3">
                  <ng-select [items]="territories$ | async" [multiple]="false" [hideSelected]="true" [minTermLength]="2"
                    [loading]="territoriesLoading" [typeahead]="territoryInput$" [(ngModel)]="alertsFilter.territory"
                    (change)="onAlertFilterTerritoryChange($event)" name="userTeamTerritorySelected"
                    typeToSearchText="Search a territory" bindLabel="name" placeholder="Select territory" required>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                      {{item.name}} ({{item.categoryName}})
                    </ng-template>
                  </ng-select>
                </div>
                <div class="form-group col-md-1">
                  <input type="text" class="form-control" [(ngModel)]="alertsFilter.id"
                    (ngModelChange)="this.alertsFilterIdSubject.next($event)" name="alertFilterId" id="alertFilterId"
                    aria-describedby="alertFilterId" placeholder="Alert ID">
                </div>
              </div>
            </form>
            <span *ngIf="alerts && alerts.length > 0" style="vertical-align: middle;" class="font-weight-light">
              <b>Total:</b> {{pagination?.total}} alerts found to audit.
            </span>
            <span *ngIf="alerts && alerts.length == 0" style="vertical-align: middle;" class="font-weight-light">
              <b>Total:</b> 0 alerts found to audit.
            </span>
          </div>
        </div>
        <div class="row" style="min-height: 600px;">
          <ng-container *ngFor="let alert of alerts">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
              <div class="m-3">
                <div class="row alert-card">
                  <div class="col-md-12">
                    <div class="row" style="min-height: 100px;">
                      <table class="table table-borderless w-100">
                        <tbody>
                          <tr class="bg-light">
                            <td class="text-center font-weight-bold p-1" style="width: 50%;">Before Image</td>
                            <td class="text-center font-weight-bold p-1" style="width: 50%;">After Image</td>
                          </tr>
                          <tr>
                            <td class="p-0 w-50">
                              <img class="w-100" style="border-right: 1px solid white;"
                                (error)="$event.srcElement.src = '/assets/img/error-gray.png';$event.srcElement.style.padding = '30px 25px'"
                                src="https://storage.googleapis.com/{{alertsBucket}}/IMAGES/{{alert.id}}/before_deforestation.png" />
                            </td>
                            <td class="p-0 w-50">
                              <img class="w-100" style="border-left: 1px solid white;"
                                (error)="$event.srcElement.src = '/assets/img/error-gray.png';$event.srcElement.style.padding = '30px 25px'"
                                src="https://storage.googleapis.com/{{alertsBucket}}/IMAGES/{{alert.id}}/after_deforestation.png" />
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center p-0">
                              <ng-container *ngFor="let image of alert?.activation?.images">
                                <ng-container *ngIf="image.reference == 'before'">
                                  {{image.acquiredAt | date:'yyyy-MM-dd HH:mm:ss'}} <br/>
                                </ng-container>
                              </ng-container>
                            </td>
                            <td class="text-center p-0">
                              <ng-container *ngFor="let image of alert?.activation?.images">
                                <ng-container *ngIf="image.reference == 'after'">
                                  {{image.acquiredAt | date:'yyyy-MM-dd HH:mm:ss'}} <br/>
                                </ng-container>
                              </ng-container>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="row mt-2 mb-2">
                      <div class="col-sm-1 col-md-1 p-0">
                        <img class="w-100"
                          style="border: 1px solid white;background-color: #d4d4d4;height: 100%;vertical-align: middle;"
                          (error)="$event.srcElement.src = '/assets/img/error.png';$event.srcElement.style.padding = '4px 2px'"
                          src="https://storage.googleapis.com/{{alertsBucket}}/IMAGES/{{alert.id}}/location.png" />
                      </div>
                      <ng-container *ngFor="let rproperty of alert.ruralProperties">
                        <div class="col-sm-1 p-0">
                          <img class="w-100" style="border: 1px solid white;background-color: #d4d4d4;"
                            (error)="$event.srcElement.src = '/assets/img/error.png';$event.srcElement.style.padding = '4px 2px'" title="rural property: {{rproperty.id}} | png: before_deforestation"
                            src="https://storage.cloud.google.com/{{alertsBucket}}/IMAGES/{{alert.id}}/rural_property/{{rproperty.id}}/before_deforestation.png" />
                        </div>
                        <div class="col-sm-1 p-0">
                          <img class="w-100" style="border: 1px solid white;background-color: #d4d4d4;"
                            (error)="$event.srcElement.src = '/assets/img/error.png';$event.srcElement.style.padding = '4px 2px'" title="rural property: {{rproperty.id}} | png: after_deforestation"
                            src="https://storage.cloud.google.com/{{alertsBucket}}/IMAGES/{{alert.id}}/rural_property/{{rproperty.id}}/after_deforestation.png" />
                        </div>
                        <div class="col-sm-1 p-0">
                          <img class="w-100" style="border: 1px solid white;background-color: #d4d4d4;"
                            (error)="$event.srcElement.src = '/assets/img/error.png';$event.srcElement.style.padding = '4px 2px'" title="rural property: {{rproperty.id}} | png: all_rural_properties"
                            src="https://storage.cloud.google.com/{{alertsBucket}}/IMAGES/{{alert.id}}/rural_property/{{rproperty.id}}/all_rural_properties.png" />
                        </div>
                        <div class="col-sm-1 p-0">
                          <img class="w-100" style="border: 1px solid white;background-color: #d4d4d4;"
                            (error)="$event.srcElement.src = '/assets/img/error.png';$event.srcElement.style.padding = '4px 2px'" title="rural property: {{rproperty.id}} | png: location"
                            src="https://storage.cloud.google.com/{{alertsBucket}}/IMAGES/{{alert.id}}/rural_property/{{rproperty.id}}/location.png" />
                        </div>
                        <div class="col-sm-1 p-0">
                          <img class="w-100" style="border: 1px solid white;background-color: #d4d4d4;"
                            (error)="$event.srcElement.src = '/assets/img/error.png';$event.srcElement.style.padding = '4px 2px'" title="rural property: {{rproperty.id}} | png: all"
                            src="https://storage.cloud.google.com/{{alertsBucket}}/IMAGES/{{alert.id}}/rural_property/{{rproperty.id}}/all.png" />
                        </div>
                        <div class="col-sm-1 p-0">
                          <img class="w-100" style="border: 1px solid white;background-color: #d4d4d4;"
                            (error)="$event.srcElement.src = '/assets/img/error.png';$event.srcElement.style.padding = '4px 2px'" title="rural property: {{rproperty.id}} | png: after_deforestation_simplified"
                            src="https://storage.cloud.google.com/{{alertsBucket}}/IMAGES/{{alert.id}}/rural_property/{{rproperty.id}}/after_deforestation_simplified.png" />
                        </div>
                      </ng-container>
                    </div>
                    <div class="row">
                      <div class="col-md-12 p-0">
                        <div class="pt-1 pb-1">
                          <table class="w-100 mb-2">
                            <tr>
                              <td class="font-weight-bold" style="width: 25%;">ID:</td>
                              <td class="text-capitalize text-left" style="width: 30%;">{{alert.id}}</td>

                              <td class="font-weight-bold">Biome:</td>
                              <td class="text-capitalize text-left">
                                {{alert.territory?.biomeName.toLowerCase()}}
                              </td>
                              <td class="font-weight-bold"></td>
                              <td class="text-capitalize text-left"></td>
                            </tr>
                            <tr>
                              <td class="font-weight-bold">Detection:</td>
                              <td class="text-capitalize text-left">
                                {{alert.detectedAt | date:'yyyy-MM-dd'}}</td>

                              <td class="font-weight-bold">State:</td>
                              <td class="text-capitalize text-left">
                                {{alert.territory?.stateName.toLowerCase()}}
                              </td>

                              <td class="font-weight-bold"></td>
                              <td class="text-capitalize text-left"></td>
                            </tr>
                            <tr>
                              <td class="font-weight-bold">Sources:</td>
                              <td class="text-capitalize text-left small">{{alert.sources}}</td>

                              <td class="font-weight-bold">City:</td>
                              <td class="text-capitalize text-left">
                                {{alert.territory?.cityName.toLowerCase()}}
                              </td>
                              <td class="font-weight-bold"></td>
                              <td class="text-capitalize text-left"></td>
                            </tr>
                            <tr>
                              <td></td>
                              <td style="text-transform: capitalize;"></td>

                              <td class="font-weight-bold"></td>
                              <td class="text-capitalize text-left"></td>

                              <td class="font-weight-bold"></td>
                              <td class="text-capitalize text-left"></td>
                            </tr>
                          </table>
                          <button (click)="openAlert(alert)" class="btn btn-dark btn-sm">
                            <i class="fa fa-search"></i>
                            Open
                          </button>
                          &nbsp;
                          <button (click)="approve(alert)" class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i>
                            Approve
                          </button>
                          &nbsp;
                          <button (click)="refine(alert)" class="btn btn-info btn-sm">
                            <i class="fa fa-pencil-square-o"></i>
                            Revision
                          </button>
                          &nbsp;
                          <div class="btn-group dropup">
                            <button class="btn btn-sm btn-warning dropdown-toggle" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-warning"></i>
                              Png Error
                            </button>
                            <div class="dropdown-menu">
                              <h5 class="muted p-2 pb-1">Error Type:</h5>
                              <div class="dropdown-divider"></div>
                              <ng-container *ngFor="let item of alertRejectionReasons">
                                <a *ngIf="item.id >= 17" class="dropdown-item" (click)="rejectPNG(alert,item.id)"
                                  href="javascript:;">
                                  <i class="fa fa-dot-circle-o"></i> {{item.label}}
                                </a>
                              </ng-container>
                            </div>
                          </div>
                          &nbsp;
                          <div class="btn-group dropup">
                            <button class="btn btn-sm btn-danger dropdown-toggle" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-close"></i>
                              Reject
                            </button>
                            <div class="dropdown-menu">
                              <h5 class="muted p-2 pb-1">Rejection Reasons:</h5>
                              <div class="dropdown-divider"></div>
                              <ng-container *ngFor="let item of alertRejectionReasons">
                                <a *ngIf="item.id < 17" class="dropdown-item" (click)="reject(alert,item.id)"
                                  href="javascript:;">
                                  <i class="fa fa-dot-circle-o"></i> {{item.label}}
                                </a>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <hr />
        <div *ngIf="alerts && alerts.length > 0" class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <button (click)="approveAll()" [disabled]="isProcessing" class="btn btn-success btn-block">
              <i class="fa fa-check"></i> Approve All
            </button>
          </div>
          <div class="col-md-4">
          </div>
        </div>
        <div *ngIf="!isProcessing && alerts && alerts.length == 0" class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <button (click)="list()" class="btn btn-info btn-block">
              Load more
            </button>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-alert-auditing-item-modal #alertModal></app-alert-auditing-item-modal>